# Delete .example from the end of this file and replace the values with your credentials for iterative building
{
    "ssid": "mywifiname",
    "passwd": "mywifipassword",
    "elegooip": "1.2.3.4"
}